body
{background-color: antiquewhite;
background-image: url(https://i.pinimg.com/564x/68/25/b4/6825b4ab1ac3038b6d72614ed25c3540.jpg);
background-repeat: no-repeat;
background-size:200%;
 background-position: top center;}


#Arrangement
{text-align: center;
color: white;
padding: 20px;
width: 97%;
font-variant:small-caps;
font-size: 10}


